body{
    background-color: #FDF5DF;
    margin: 0;
    padding: 0;
}
.header-section{
    background-image: url(/bg\ image/top-banner.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100% 400px;
}
.wlc{
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 80px;
    margin-top: 0px;
    padding-top: 40px;
    color: #F92C85;
}
.world{
    text-align: center;
    font-family: 'Teko', sans-serif;
    font-size: 80px;
    margin-bottom: 0;
    padding-top: 35px;
    color: #F92C85;
}
.container1{
    margin-top: 200px;
    display: flex;
    width: 100%;
}
.container1 h3{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #5EBEC4;
}
.container1 p{
    font-family:'Righteous', cursive;
    color: #F92C85;
    font-size: 20px;
}
.web-developer-container{
    width: 50%;
    height: 400px;
    text-align: justify;
    margin: 25px 10% 0 10%;
    padding: 0 20px;
    box-shadow: -10px 0 #F92C85, 0 5px 15px #5EBEC4, 5px 0px 15px #5EBEC4, 0 -5px 15px #5EBEC4;
    border-radius: 10px;
}
.image-container1{
    width: 40%;
}
.image-container1 img{
    width: 80%;
}
.container1 a{
    display: inline-block;
    text-decoration: none;
    font-family: 'Righteous', cursive;
    background-color: #5EBEC4;
    color: #FDF5DF;
    margin-top: 10px;
    padding: 5px 10px;
    border-radius: 5px;
}
.container1 a:hover{
    background-color: #F92C85;
    color: #5EBEC4;
}
.container2{
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}
.image-container2{
    width: 40%;
}
.image-container2 img{
    width: 80%;
    margin-left: 15%;
}
.programming-hero-container{
    width: 50%;
    height: 400px;
    text-align: justify;
    margin: 25px 10% 0 10%;
    padding: 0 20px;
    box-shadow: -10px 0 15px #5EBEC4, 0 5px 15px #5EBEC4, 10px 0 #F92C85, 0 -5px 15px #5EBEC4;
    border-radius: 10px;
}
.programming-hero-container h3{
    font-family: 'Teko', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #5EBEC4;
}
.programming-hero-container p{
    font-family:'Righteous', cursive;
    color: #F92C85;
    font-size: 20px;
}
#jhankar-mahbub{
    color: #F92C85;
}